:root {
    --primary-color: #111827;
    --primary-color-deg: #1f2937;
    --secondary-color: #7e33ef;
    --accent-color: #fe8944;
    --text-color: #111827;
    --text-light: #4b5563;
    --text-lighter: #9ca3af;
    --bg-color: #f1f2f4;
    --bg-color-secondary: #fafbfd;
    --white: #ffffff;
    --card-bg: #ffffff;
    --toggle-bg: #f3f3f3;
    --border-color: #e5e7eb;
    --border-dark: #d1d5db;
    --online-color: #10b981;
    --online-blue: #3b82f6;
    --offline-color: #9ca3af;
    --error: #ef4444;
    --shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 3rem;
    --margin-lg: 5rem

    --avatar-size: 2rem;
    --header-height: 4rem;
    --border-radius-sm: 0.375rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-full: 9999px;
    --border-radius-left-lg: 1rem 0 0 1rem;
    --border-radius-right-lg: 0 1rem 1rem 0;
}

[data-theme="dark"] {
    --primary-color: #f3f4f6;
    --primary-color-deg: #d1d5db;
    --secondary-color: #fe8944;
    --accent-color: #7e33ef;
    --text-color: #f3f4f6;
    --text-light: #d1d5db;
    --text-lighter: #9ca3af;
    --bg-color: #192028;
    --bg-color-secondary: #20272f;
    --white: #343b43;
    --card-bg: #192028;
    --toggle-bg: #6b7280;
    --border-color: #374151;
    --border-dark: #4b5563;
    --online-color: #34d399;
    --online-blue: #60a5fa;
    --offline-color: #6b7280;
    --error: #f87171;
}
