.header {
    background-color: var(--bg-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

[data-theme="dark"] .header-create-account {
    background-color: #13161d;
    border: 2px solid #2b2e35;
    color: var(--withe);
}

[data-theme="dark"] .header-create-account:hover {
    background-color: #1f2937;
}

.nav {
    display: flex;
    gap: var(--space-xl);
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--text-light);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
}

.nav-link:hover {
    color: var(--text-color);
}

.nav-link.active {
    color: var(--secondary-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius-full);
    border: 2px solid var(--secondary-color);
    padding: 4px 8px;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}
